@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT&family=Orelega+One&display=swap');
html{
    font-family:"Old Standard TT";
    background-color: beige;
}
* {box-sizing: border-box;
}
body{
 background-image: url("https://wallpaperaccess.com/full/1558251.jpg");
}
.topright {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
}
h1,h2,h3,h4{
    text-align: center;
    background-color: rgba(245,245,220,.8) ;
    border: 1px solid black;
    background-image: url("https://wallpaperaccess.com/full/1558251.jpg");

}
h1{
    padding: 20px;
    font-size: 50px;
}
h2 {
    padding: 10px;
}
.pic {
    border-radius: 100% 40%;
    height:15rem;
}
.gif {
    height: 10rem;
    width: auto;
}
.center {
    margin-right: auto;
    margin-left: auto;
}
p{
    text-align: center;
    background-color: rgba(245,245,220,.8) ;
    border: 1px solid black;
    font-weight: bold;
}